{
  "sources": [
    { "name": "UserControlled", "comment": "user input" }
  ],
  "sinks": [
    { "name": "RemoteCodeExecution", "comment": "code execution" },
    { "name": "SQL", "comment": "SQL query execution" },
    { "name": "ExecDeserializationSink", "comment": "unsafe deserialization" }
  ],
  "features": [
    { "name": "string_concat", "comment": "string concatenation" }
  ],
  "rules": [
    {
      "name": "Possible shell injection",
      "code": 5001,
      "sources": ["UserControlled"],
      "sinks": ["RemoteCodeExecution"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Possible SQL injection",
      "code": 5005,
      "sources": ["UserControlled"],
      "sinks": ["SQL"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Possible deserialization RCE",
      "code": 5067,
      "sources": ["UserControlled"],
      "sinks": ["ExecDeserializationSink"],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
